<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ticketoffice?characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Test123</property>

    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">false</property>

    <mapping class="com.tigratius.ticketoffice.model.Aircraft"/>
    <mapping class="com.tigratius.ticketoffice.model.AircraftSeatAmount"/>
    <mapping class="com.tigratius.ticketoffice.model.City"/>
    <mapping class="com.tigratius.ticketoffice.model.Route"/>
    <mapping class="com.tigratius.ticketoffice.model.Flight"/>
    <mapping class="com.tigratius.ticketoffice.model.Passenger"/>
    <mapping class="com.tigratius.ticketoffice.model.Ticket"/>

    <!--<mapping resource="hibernate/com.tigratius.ticketoffice/model/City.hbm.xml"></mapping>
    <mapping resource="hibernate/com.tigratius.ticketoffice/model/Passenger.hbm.xml"></mapping>
    <mapping resource="hibernate/com.tigratius.ticketoffice/model/Route.hbm.xml"></mapping>
    <mapping resource="hibernate/com.tigratius.ticketoffice/model/Flight.hbm.xml"></mapping>
    <mapping resource="hibernate/com.tigratius.ticketoffice/model/Ticket.hbm.xml"></mapping>-->

  </session-factory>
</hibernate-configuration>